.body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}

.title {
    margin: 20px auto;
    color: rgb(0, 0, 0);
}

.picture {
    margin: 20px auto;
    width: 400px;
}

.link {
    margin: 20px auto;
    color: #e1d368;
    font-size: 64px;
    text-decoration: none;
}